# ===================================================
# MyFinance Online Database Configuration (Aiven Cloud)
# ===================================================
DB_HOST=mysql-39596ad9-ajith.b.aivencloud.com
DB_PORT=28611
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=AVNS_c5evB7knXM5nrNtAhSx
DB_SSL=false

# Optional Security Key for HMAC cookie signing
APP_SECRET=myfinance_jwt_hmac_secret_key_secure_2026
